{% extends "base.html" %}

{% block title %}Profil{% endblock %}


{% block site_heading %}Profil von {{ p_user.first_name }}{% endblock %}
{% block site_content %}
    <h3>Details</h3>
    {%  if p_user == user %}
        (<a href="{% url 'fsmedhro_user_edit' %}">bearbeiten</a>)
        <h4>Kerndaten (LDAP)</h4>
        <table>
            <tr><td>Vorname:</td><td>{{ p_user.first_name }}</td></tr>
            <tr><td>Nachname:</td><td>{{ p_user.last_name }}</td></tr>
            <tr><td>eMail:</td><td>{{ p_user.email }}</td></tr>
        </table>
        <h4>Fachschaft-Daten</h4>
        {% if f_user %}
            <table>
                <tr><td>Gender/Geschlecht:</td><td>{{ f_user.gender }}</td></tr>
                <tr><td>Nickname:</td><td>{{ f_user.nickname }}</td></tr>
                <tr><td>Studiengang:</td><td>{{ f_user.studiengang }}</td></tr>
                <tr><td>Studienabschnitt:</td><td>{{ f_user.studienabschnitt }}</td></tr>
            </table>
        {% else %}
            noch kein Fachschafts-Profil angelegt
        {% endif %}
    {% else %}
        dies ist nicht dein eigenes Profil...
    {% endif %}
{% endblock %}