{% extends "base.html" %}

{% block title %}Profil{% endblock %}


{% block site_heading %}Profil von {{ p_user.first_name }}{% endblock %}
{% block site_content %}
    <h2>Details</h2>
    {%  if p_user == user %}
        <a href="{% url 'fsmedhro_user_edit' %}" style="text-decoration: none;
        font-size: 16px;color: #272a44;">
            Bearbeite dein Profi
        </a>
        <h2>Kerndaten (LDAP)</h2>
        <table>
            <tr><td>Name:</td><td>{{ p_user.first_name }} {{ p_user.last_name }}</td></tr>
            <tr><td>E-Mail:</td><td>{{ p_user.email }}</td></tr>
        </table>
        <h2>Fachschafts-Daten</h2>
        {% if f_user %}
            <table>
                <tr><td>Gender/Geschlecht:</td><td>{{ f_user.gender }}</td></tr>
                <tr><td>Nickname:</td><td>{{ f_user.nickname }}</td></tr>
                <tr><td>Studiengang:</td><td>{{ f_user.studiengang }}</td></tr>
                <tr><td>Studienabschnitt:</td><td>{{ f_user.studienabschnitt }}</td></tr>
            </table>
        {% else %}
            noch kein Fachschafts-Profil angelegt
        {% endif %}
    {% else %}
        dies ist nicht dein eigenes Profil...
    {% endif %}
{% endblock %}