{% extends "base.html" %}

{% block title %}Profil{% endblock %}


{% block heading %}
  <h2>Profil von {{ user.first_name }}</h2>
{% endblock %}
{% block content %}
    <h3>Details</h3>
    {%  if ownprofile %}
        (<a href="{% url 'fsmedhro_user_edit' %}">bearbeiten</a>)
        <h4>Kerndaten (LDAP)</h4>
        <table>
            <tr><td>Vorname:</td><td>{{ user.first_name }}</td></tr>
            <tr><td>Nachname:</td><td>{{ user.last_name }}</td></tr>
            <tr><td>eMail:</td><td>{{ user.email }}</td></tr>
        </table>
        <h4>Fachschaft-Daten</h4>
        <table>
            <tr><td>Gender/Geschlecht:</td><td>{{ fuser.gender }}</td></tr>
            <tr><td>Nickname:</td><td>{{ fuser.nickname }}</td></tr>
            <tr><td>Studiengang:</td><td>{{ fuser.studiengang }}</td></tr>
            <tr><td>Studienabschnitt:</td><td>{{ fuser.studienabschnitt }}</td></tr>
        </table>
    {% else %}
        dies ist nicht dein eigenes Profil...
    {% endif %}
{% endblock %}