dj-database-url==0.4.2
Django==1.10.5
django-classy-tags==0.8.0
django-cms==3.4.2
django-formtools==2.0
django-sekizai==0.10.0
django-treebeard==4.1.0
djangocms-admin-style==1.2.6.2
djangorestframework==3.6.2
psycopg2==2.6.2
pyldap==2.4.25.1
pytz==2016.10
six==1.10.0
tzlocal==1.3
