{% extends "exoral/base.html" %}

{% block site_heading %}Fragen{% endblock %}

{% block site_content %}
    {% include "exoral/fortschritt.html" %}

    <hr>
    Fragen:
    <div class="fragen">
        {% for frage in fragen %}
            <div class="frage">
                <div class="text">Frage: {{ frage.text }}</div>
                <div class="score">Score: {{ frage.score }}</div>
                <div class="datum">Datum: {{ frage.datum }}</div>
            </div>
        {% endfor %}
    </div>
    {% if modus == 'p' %}
        <a href="{% url 'exoral:frage_neu' modus=modus testat_id=testat.pk pruefer_id=pruefer.pk %}">neue Frage</a>
    {% endif %}
    <hr>
    Prüfer-Kommentare:
    <div class="kommentare">
        {% for kommentar in kommentare %}
            <div>Kommentar: {{ kommentar.text }}</div>
            <div>Datum: {{ kommentar.datum }}</div>
        {% endfor %}
    </div>

{% endblock %}