{% extends "base.html" %}

{% block title %}exoral-Prüferwahl{% endblock %}


{% block heading %}
  <h2>Prüferwahl</h2>
{% endblock %}

{% block content %}
    Modus: {{ modus }}<br>
    Studiengang: {{ user.fachschaftuser.studiengang }} (aus Fachschaft-Profil)<br>
    Studienabschnitt: {{ user.fachschaftuser.studienabschnitt }} (aus Fachschaft-Profil)<br>
    Prüfer:<br>
    {% if pruefer %}
        <ul>
        {% for pruef in pruefer %}
            <li>
            {{ pruef.get_full_name_nachname }}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>keine Testate abrufbar</p>
    {% endif %}
{% endblock %}