{% extends "base.html" %}

{% block title %}exoral-Prüferwahl{% endblock %}


{% block site_heading %}Prüferwahl{% endblock %}

{% block site_content %}
    Modus: {{ modus }}<br>
    Studiengang: {{ user.fachschaftuser.studiengang }} (aus Fachschaft-Profil)<br>
    Studienabschnitt: {{ user.fachschaftuser.studienabschnitt }} (aus Fachschaft-Profil)<br>
    Testat: {{ testat }}<br>
    Prüfer:<br>
    <div>
        {% for pruef in pruefer %}
            <a href="{% url 'exoral:fragenliste' modus=modus testat_id=testat.pk pruefer_id=pruef.pk %}">{{ pruef.get_full_name_nachname }}</a>
        {% empty %}
            <p>keine Testate abrufbar</p>
        {% endfor %}
    </div>
{% endblock %}