{% extends "exoral/base.html" %}

{% block site_heading %}Testatwahl{% endblock %}

{% block beschreibung %}
Die Auswahl dieser Testate erfolgt anhand deines Semesters, dass du bei uns angegeben hast.
    Solltest du Testate aus einem anderen Semester wählen wollen, so musst du nur dein Semester in deinen <a href="{% url 'fachschaft:fsmedhro_user_edit' %}">Einstellungen</a> ändern.<br>
    <u>Studiengang:</u> {{ user.fachschaftuser.studiengang }}<br>
    <u>Studienabschnitt:</u> {{ user.fachschaftuser.studienabschnitt }}<br>
{% endblock %}

{% block content %}
    <h2>Hier die für dich ausgewählten Testate</h2>
    <div class="btn-group container-fluid d-flex flex-warp">
    {% for testat in testate %}
            <a href="{% url 'exoral:prueferwahl' modus=modus testat_id=testat.pk %}">
                <button class="btn btn-primary border border-danger m-2 p-2 animated zoomIn">
                    {{ testat }}
                </button>
            </a>
    {% endfor %}
{% endblock %}
