{% extends "exoral/base.html" %}

{% block site_heading %}Testatwahl{% endblock %}

{% block site_content %}
    {% include "exoral/fortschritt.html" %}
    <hr>
    Studiengang: {{ user.fachschaftuser.studiengang }} (aus Fachschaft-Profil)<br>
    Studienabschnitt: {{ user.fachschaftuser.studienabschnitt }} (aus Fachschaft-Profil)<br>
    Testate:<br>
    <div>
        {% for testat in testate %}
            <a href="{% url 'exoral:prueferwahl' modus=modus testat_id=testat.pk %}">{{ testat }}</a>
        {% endfor %}
    </div>
{% endblock %}