.fragen{
}

.frage{
    border: 1px solid;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.frage.text{
}

.frage.datum{
}

.frage.score{
}

.kommentare{

}

.fortschritt a{
    color: #003366;
    display: inline-block;
    border: solid 1px;
    border-radius: 0px 15px 15px 0px;
    padding: 2px 10px 2px 2px;
    text-decoration: none;
    background: #f6f6f6;
}