    /*-----eXOral Spezifisch-----*/
/*Fragen*/
.frage{
	border: 2px dotted brown;
	border-radius: 0 25px 25px 25px;
	margin: 15px;
	padding: 10px;
	background-color: #272a44;
	color: #E0E0F8;
}
.frage .date{
	float: left;
	font-style: italic;
}
.frage .score{
	float: right;
	font-weight: bold;
}
.frage .up{
	float: right;
	margin-top: -20px
}

.frage .up button {
    padding: 1px 5px;
    margin: 0;
}

.frage .text{
	display: flex;
	margin: 20px 50px 0 30px;
	font-size: 18px;
}

.frage p{
	margin: 0 5px;
	display: block;
	font-style: italic;
}

.kommentare{

}

.fortschritt a{
    color: #003366;
    display: inline-block;
    border: solid 1px;
    border-radius: 0 15px 15px 0;
    padding: 2px 10px 2px 2px;
    text-decoration: none;
    background: #f6f6f6;
}