    /*-----eXOral Spezifisch-----*/
/*Fragen*/
.frage{
	border: 2px dotted brown;
	border-radius: 0 25px 25px 25px;
	margin: 15px;
	padding: 10px;
	background-color: #272a44;
	color: #E0E0F8;
}
.frage .date{
	float: left;
	font-style: italic;
}
.frage .score{
	float: right;
	font-weight: bold;
}
.frage .up{
	float: right;
	margin-top: -20px;
    font-size: 22px;
}

.frage .up button {
    padding: 1px 5px;
    margin: 0;
}

.frage .text{
	display: flex;
	margin: 20px 50px 0 30px;
	font-size: 18px;
}

.frage p{
	margin: 0 5px;
	display: block;
	font-style: italic;
}

.kommentare{
	color: #272a44;
	background-color: #E0E0F8;
	border: 1px dotted red;
	border-radius: 0 5px 5px 5px;
	padding: 5px;
}
.comment{
	background-color: #272a44;
	color: #E0E0F8;
	font-size: 20px;
    border: 1px dotted red;
    border-radius: 0px 5px 5px 5px;
}
.button .input{
    background-color: inherit;
}
.fortschritt{
    font-size: 18px;
}
.fortschritt a{
    color: antiquewhite;
    display: inline-block;
    border: solid 1px;
	border-radius: 5px 25px 25px 5px;
    padding: 2px 10px 2px 10px;
    text-decoration: none;
    background: #272a44;
	font-size: 22px;
}