/*--------------Allgemein--------------*/
html{
    background-color: #f1f1f1;
    height: 100%;
    font-family: sans-serif, Georgia, Serif;
    font-size: 14px;
    float: none;
}
body{
    padding: 200px 0 0 0;
    margin: 0;
}
/* --------------Header-------------- */
header{
    background-color: #1f2942;
    font-size: 20px;
    color: antiquewhite;
    width: 100vw;
    height: 100px;
    margin-top: -200px;
    position: fixed;
    padding: 15px 20px 5px 15px;
	z-index: 10;
}
header #logo{
	float: left;
	height: 100px;
}
header #name{
    font-size: 45px;
}
header #explain{
    font-size: 25px;
}
@media only screen and (max-width: 600px){
	header #explain{
		display: none;
	}
	header #name{
		font-size: 18px;
	}
    header{
        height: 50px;
    }
    header #logo {
        height: 50px;
    }
}
@media only screen and (max-width: 800px) and (min-width: 600px){
	header #explain{
		font-size: 22px;
		font-style: italic;
	}
	header #name{
		font-size: 35px;
	}
}

/* --------------Menue-------------- */

@media only screen and (min-width: 767px){
  nav{
    position: fixed;
    height: 50px; width: 100%;
    background-color: #1f2942;
    top: 105px; right: 0;
    transition: all 0.45s ease;
    padding: 0; margin: 0;
      z-index: 8;
  }
  nav a{
    text-decoration: none;
    color: #f1f1f1;
    font-size: 22px;
    margin: 0; padding: 0;
  }
  nav ul{
    list-style: none;
  }
  nav ul li{
    float: left;
    margin: 0;
    padding: 5px;
    border-radius: 15px;
  }
  nav ul li:hover{
    background-color: #f1f1f1;
  }
  nav ul li:hover > a{
    color: #1f2942;
  }
  nav ul li > ul{
    position: absolute;
    background-color: #1f2942;
    top: 15px;
    margin: 35px 0 0;
    padding: 15px 0 5px;
    border-radius: 0 0 15px 15px;
    display: none;
  }
  nav ul li:hover >ul{
    display: block;
  }
  nav ul li ul li{
    position: relative;
    float: none;
    border-top: 0.5px solid brown;
    margin: 5px 0;
  }
  .hamburger-box, .hamburger{
    display: none;
    z-index: 0;
    visibility: hidden;
  }
}
.hamburger, .hamburger-box{
  display: none;
}
@media only screen and (max-width: 767px){
  .hamburger{
    display: block;
    position: fixed;
    top: 10px;
    right: 0;
    height: 75px;
    z-index: 12;
  }
  .nav_open{
    display: inherit;
    width: 90%;
    transition: 1s;
  }
  nav{
    display: none;
    background-color: #1f2942;
    position: absolute;
    top: 70px; right: 0;
    width: 90%;
    border-radius: 35px 0 0 35px;
    transition: all 1s;
    z-index: 9;
  }
  nav ul{
    list-style: none;
    margin: 0; padding: 5px 15px 15px;
  }
  nav ul li{
    text-align: left;
    border-radius: 35px 15px 0 35px;
    border-top: 1px solid brown;
    border-left: 1px solid brown;
    font-size: 22px;
    font-weight: bold;
    padding: 10px 0 10px 25px;
    width: 95%;
    float: none;
    display: inline-block;
  }
  nav a{
    text-decoration: none;
    color: #f1f1f1;
    font-size: 18px;
  }
  nav ul li ul li{
    border: none;
    display: block;
    font-size: 18px;
    font-weight: normal;
    padding: 5px 0;
    text-decoration: none;
    text-align: center;
    width: 40%;
    float: left;
    border-radius: 0;
  }
  nav ul li ul{
    height: auto;
  }
  .open_submenu{
    display: block;
    font-style: 18px;
  }
  .close_submenu{
    display: none;
  }
}
/*--Grosses Menue--*/
/*
@media only screen and (min-width:1200px){
	nav{
		height: 100%;
		width: 25%;
		max-width: 250px;;
		position: fixed;
		z-index: 8;
		left: 0;
		background-color: #1f2942;
		margin-top: -80px;
		transition: 0.5s;
	}
	nav a{
		padding: 8px;
		text-decoration: none;
		font-size: 25px;
		color: antiquewhite;
	}
	nav a:hover{
		background-color: brown;
		color: #1f2942;
		font-weight: bold;
	}
	nav ul{
		list-style: none;
		padding-left: 5px;
	}
	nav ul li{
		padding-top: 15px;
	}
	nav ul li ul{
		padding-left: 15px;
	}
	nav ul li ul a{
		font-size: 20px;
	}
	nav ul li ul li{
		padding-top: 5px;
	}
	nav ul li ul li a:hover{
		border: 1px dotted antiquewhite;
	}
}
/*--Mittleres Menue--
@media only screen and (min-width:600px) and (max-width:1200px){
	nav ul a{
		text-decoration: none;
		font-size: 20px;
		color: antiquewhite;
	}
	nav ul{
		position: fixed;
		list-style: none;
		margin: 0;
		padding: 5px 35px;
		background-color: #1f2942;
		z-index: 11;
	}
	nav>ul{
		top: 120px;
		left: 0;
		border-radius: 0 0 35px 0;
	}
	nav ul li{
		float: left;
		padding: 0 5px;
	}
	nav ul li:hover{
		background-color: brown;
		border: 1px dotted antiquewhite;
	}
	nav ul ul{
		border-radius: 0 0 25px 25px;
		padding-left: 15px;
		display: none;
	}
	nav ul li:hover > ul{
		display: block;
	}
	nav ul ul li{
		float: none;
		margin: 5px 0;
	}
}
/*--Mobile Menue--
#menue_button{
	visibility: hidden;
}
@media only screen and (max-width:600px){
	#menue_button{
		visibility: visible;
		top:60px;
		right: 50px;
		float: right;
		position: absolute;
	}
	nav{
		display: block;
		background-color: #1f2942;
		width: 0;
		height: auto;
		margin-left: 15%;
		text-align: left;
		margin-top: -80px;
		position: absolute;
		z-index: 10;
		overflow: hidden;
		transition: 1s;
		right: 0;
	}

	.is-active{
		width: 90%;
	}

	.close{
		width: 0;
	}
	nav a{
		text-decoration: none;
		color: antiquewhite;
		font-size: 18px;
	}
	nav ul{
		list-style: none;
		padding: 0;
	}
	nav >ul>li{
		border-top: 2px solid brown;
		padding: 5px 0;
	}
	nav>ul>li>a{
		font-size: 22px;
	}
	nav ul li ul li{
		text-align: center;
		padding: 5px 0;
	}
}
/* --------------News-------------- */
.btn_login{
    background-color: brown;
    font-size: 22px;
    padding: 5px 15px;
}
.nkz{
    font-size: 16px;
    padding: 5px;
    background-color: #1f2942;
    color: #f1f1f1;
}
.psw{
    font-size: 14px;
    padding: 5px;
    background-color: #1f2942;
    color: #f1f1f1;
}
/* --------------Body-------------- */
h1{
	font-size: 45px;
	text-decoration: underline;
	text-align: center;
}
h2{
	font-size: 30px;
}
h3{

	padding-left: 25px;
	font-style: italic;
}
@media only screen and (min-width:1200px){
	article{
		padding: 0 20% 30px 20%;
        margin-bottom: 100px;
        justify-content: center;
	}
}
@media only screen and (max-width:1200px) and (min-width:430px){
	article{
		padding: 0 10% 30px 10%;
        margin-bottom: 100px;
        justify-content: center;
	}
}
@media only screen and (max-width:600px){
	article{
		padding: 0 5px 30px 5px;
        margin-bottom: 100px;
        justify-content: center;
	}
}
section{
	text-align: left;
	font-size: 16px;
	border: 1px dotted black;
	padding: 15px;
	margin: 15px 0;
}

button{
	background-color: brown;
	color: antiquewhite;
	padding: 10px;
	margin: 5px;
}
.big{
	padding: 15px;
	font-size: 18px;
	font-weight: bold;
}
.small{
	padding: 5px;
	font-style: italic;
}
/*------Messages---------*/
.messages{

}

.message{
	font-size: 18px;
	padding: 5px 0;
	text-align: center;
	border-radius: 0 25px 25px 0;
    margin: 2px;
	width: 85%
}

.message.info{
    border: solid #0066ff 2px;
    background: rgba(0, 102, 255, 0.51);
}

.message.success{
    border: solid #004B04 2px;
    background: rgba(0, 147, 4, 0.5);
}

.message.warning{
    border: solid #ffcd00 2px;
    background: rgba(255, 205, 0, 0.51);
}

.message.error{
    border: solid #ff0000 4px;
    background: rgba(255, 0, 0, 0.5);
	font-size: 22px;
}

.message.debug{
    border: solid #ff50ff 2px;
    background: rgba(255, 80, 255, 0.51);
}
    /*-----SkillsLab Spezifisch-----*/
@media only screen and (min-width:720px){
	table{
		margin: 25px;
	}
	table.cource_box tr{
		background-color: #1f2942;
		margin: 10px;
		font-size: 16px;
		color: #f1f1f1;
	}
	table.cource_box td{
		padding: 10px;
		text-align: center;
		border-radius: 5px;
	}
	table.cource_box td:last-child{
		background-color: #f1f1f1;
		color: #1f2942;
		padding: 0;
		}
	table.cource_box tr:first-child{
		font-size: 25px;
	}
	table.cource_box tr:first-child td:first-child{
		border-radius: 20px 5px 5px 5px;
	}
	table.cource_box tr:first-child td:nth-last-child(2){
		border-radius: 5px 20px 5px 5px;
	}
	table.cource_box tr:last-child td:nth-last-child(2){
		border-radius: 5px 5px 20px 5px;
	}
	table.cource_box tr:last-child td:first-child{
		border-radius: 5px 5px 5px 20px;
	}
}
@media only screen and (max-width:720px){
	table.cource_box tr{
	background-color: #1f2942;
	margin: 10px;
	font-size: 16px;
	color: #f1f1f1;
	}
	table.cource_box td{
		padding: 0;
		text-align: center;
		border-radius: 5px;
	}
	table.cource_box td:last-child{
		background-color: #f1f1f1;
		color: #1f2942;
		padding: 0;
		}
	table.cource_box tr:first-child{
		font-size:16px;
	}
	table.cource_box tr:first-child td:first-child{
		border-radius: 20px 5px 5px 5px;
	}
	table.cource_box tr:first-child td:nth-last-child(2){
		border-radius: 5px 20px 5px 5px;
	}
	table.cource_box tr:last-child td:nth-last-child(2){
		border-radius: 5px 5px 20px 5px;
	}
	table.cource_box tr:last-child td:first-child{
		border-radius: 5px 5px 5px 20px;
	}
}
/*-----Altfragenportal Spezifisch-----*/
.question{
	font-size: 18px;
	text-align: left;
	padding: 10px;
	margin: 0 35px 15px 15px;
	border-bottom: 1px dotted #1f2942;
}
.answer{
	font-size: 16px;
}
.answer input{
	margin: 5px;
	transition: 5s;
}
/* --------------User--------------*/
table{
	font-size: 20px;
}
table td{
	padding: 10px;
}
/* --------------Footer--------------*/
footer{
    font-size: 15px;
    color: #1f2942;
    bottom: 0;
	padding: 15px 0;
	z-index: 5;
	margin: 100px 0 0;
	position: relative;
	width: 100%;
	border-top: 3px dotted #1f2942;
    border-radius: 100px 100px 0 0;
}
footer i{
  height: 25px;
  float: left;
  object-position: center;
}
.footer_logos{
  display: inline-flex;
  justify-content: center;
  line-height: 21px;
  width: 100%;
  list-style-position: outside;
}
.footer_logos ul{
  list-style: none;
}
.footer_logos ul li{
  float: left;
  cursor: pointer;
	padding: 0;
	margin: 0;
}
.footer_text{
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 21px;
  float: none;
}
@media only screen and (min-width:1200px){
	footer{
		bottom: 0;
		margin: 100px 0 0;
	}
}
@media only screen and (max-width:1200px){
	footer{
		width: 100%;
		bottom: 0;
		margin: 100px 0 0;
        justify-content: center;
	}
}
footer a{
	padding: 15px;
	margin: 0;
	color: #1f2942;
}
footer a:hover, footer a:link, footer a:active{
    text-decoration: none;
	color: #1f2942;
}
footer a:visited{
    color: #1f2942;
    text-decoration: line-through;
}