@media print {
	@page{
		size: A4 portrait;
        font-size: 12px;
        background-color: transparent;
        color: #000;
	}
	#cms-top, #logo, #explain, nav, .fortschritt, .fa, footer{
		display: none;
	}
    h1{
        text-align: center;
        font-size: 22px;
    }
    h2{
        font-size: 18px;
    }
    main{
        width: 100%;
    }
    /*----------eXOral--------------*/
    .frage{
        width: 80%;
        background-color: transparent;
        border: 1px solid #000;
        border-radius: 0cm 5cm 5cm;
        color: black;
    }
    .frage .date{

    }
    .frage .score{

    }
    .frage .text{
        color: black;
    }
    .frage .answer{
        color: black;
    }
    .frage .up, button.big, .comment, section{
        display: none;
    }
}