{% extends "mediathek/base.html" %}

{% block site_heading %}Mediathek Übersicht{% endblock %}

{% block beschreibung %}
Hier findest du eine Übersicht über alle deine Aufträge, wie Buchhausleihen, Sammelbstellungen etc.
{% endblock %}

{% block content %}
    <h2>Profil</h2>

    <i>Diese Kontaktinformationen sind nur für die Mediathek hinterlegt.
        Alle anderen Profildaten kannst du <a href="{% url 'fachschaft:fsmedhro_user' %}">hier</a> ändern.</i>
    <table>
        <tr><td>Anschrift:</td><td>{{ kunde.anschrift|default_if_none:"N/A" }}</td></tr>
        <tr><td>Telefon:</td><td>{{ kunde.tel|default_if_none:"N/A" }}</td></tr>
    </table>

    <h2>Ausleihe</h2>
    in Arbeit... <i class="fa fa-wrench" aria-hidden="true"></i>
    <h2>Sammelbstellung</h2>
    in Arbeit... <i class="fa fa-wrench" aria-hidden="true"></i>
    <h2>Namensschild</h2>
    in Arbeit... <i class="fa fa-wrench" aria-hidden="true"></i>
{% endblock %}
