{% extends "mediathek/base.html" %}

{% block site_heading %}Sammelbestellung Zusammenfassung{% endblock %}

{% block beschreibung %}
Zusammenfassung zur Sammelbestellung "{{ sammelbestellung.bezeichnung }}"
{% endblock %}

{% block content %}
<div class="results">
    <table border="1">

    <thead>
      <tr>
        <th>Ware</th>
        <th>Anzahl</th>
        <th>Preis/Stück</th>
        <th>Preis gesamt</th>
      </tr>
    </thead>
    <tbody>
      {% for angebot in angebote %}
      <tr class="{% cycle 'row1' 'row2' %}">
        <td> {{ angebot.ware }}</td>
        <td> {{ angebot.get_best_count }} </td>
        <td> {{ angebot.preis }} €</td>
        <td> {{ angebot.get_best_total_sale }} €</td>
      </tr>
      {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td>gesamt:</td>
            <td>{{ gesamt_preis }} €</td>
        </tr>
    </tbody>

  </table>
</div>
{% endblock %}
