{% extends "mediathek/base.html" %}

{% block site_heading %}Bestellübersicht{% endblock %}

{% block beschreibung %}
    <p>Auftragsnummer: {{ bestellung.pk|stringformat:"05d" }}</p>
    {% if bestellung.bezahlt %}
        <p>Die Zahlung über {{ bestellung.get_bezahlbetrag }} ist bei uns eingegangen.</p>
    {% else %}
        <p>Bitte überweise zeitnah den Betrag von <b>{{ bestellung.get_bezahlbetrag }}</b> auf folgendes Konto:</p>
        <table class="table">
            <tr><td scope="row">InhaberIn:</td><td>{{ einstellungen.konto_inhaber }}</td></tr>
            <tr><td scope="row">IBAN:</td><td>{{ einstellungen.konto_iban }}</td></tr>
        </table>
        <p>Mit dem Betreff "{{ bestellung.pk|stringformat:"05d" }} - {{ user.username }}"</p>
    {% endif %}
    <p>Statuscode der Bestellung: "{{ bestellung.get_status_display }}"</p>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h2>{{ sammelbestellung.bezeichnung }} ({{ bestellung.datum|date:'d.m.Y' }})</h2>
    <table class="table table-striped">
        <thead class="bg-primary text-light">
        <tr>
            <td scope="col">Artikel</td>
            <td scope="col">Preis in €</td>
            <td scope="col">Menge</td>
        </tr>
        </thead>
        {% for position in positionen %}
        <tr>
            <td>{{ position.angebot.ware }}</td>
            <td>{{ position.angebot.get_preis_str }}</td>
            <td>{{ position.anzahl }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'mediathek:index' %}">
        <button type="button" class="btn btn-sm btn-danger" name="button">zurück</button>
    </a>
</div>

{% endblock %}
