{% extends "mediathek/base.html" %}

{% block site_heading %}Bestellübersicht{% endblock %}

{% block beschreibung %}
    <p>
    {% if bestellung.bezahlt %}
        Die Zahlung über {{ bestellung.get_bezahlbetrag }} ist bei uns eingegangen.
    {% else %}
        Bitte überweise zeitnah den Betrag von <b>{{ bestellung.get_bezahlbetrag }}</b> auf folgendes Konto:<br>
        in Arbeit... <i class="fa fa-wrench" aria-hidden="true"></i>
    {% endif %}
    </p>
Statuscode der Bestellung: "{{ bestellung.get_status_display }}"
{% endblock %}

{% block content %}

    <h2>{{ sammelbestellung.bezeichnung }} ({{ bestellung.datum|date:'d.m.Y' }})</h2>
    <table>
        <tr>
            <th>Bezeichnung</th><th>Preis</th><th>Anzahl</th>
        </tr>
        {% for position in positionen %}
        <tr>
            <td>{{ position.angebot.ware }}</td>
            <td>{{ position.angebot.get_preis_str }}</td>
            <td>{{ position.anzahl }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'mediathek:index' %}">zurück</a>

{% endblock %}
