{% extends "mediathek/base.html" %}

{% block site_heading %}Alle Sammelbestellungen{% endblock %}

{% block beschreibung %}
    Liste aller bisherigen Sammelbestellungen.
{% endblock %}

{% block content %}
    <table>
        <tr>
            <th>Bezeichnung</th><th>Start</th><th>Ende</th><th>abgeschl.</th>
        </tr>
        {% for sb in sammelbestelungen %}
            <tr>
                <td><a href="{% url 'mediathek:sammelbest_detail' sammelbest_id=sb.pk %}">{{ sb.bezeichnung }}</a></td>
                <td>{{ sb.start|date:'d.m.Y H:i' }}</td>
                <td>{{ sb.ende|date:'d.m.Y H:i' }}</td>
                <td>{{ sb.abgeschlossen|yesno:"ja,nein" }}</td>
            </tr>
        {% empty %}
            <tr><td><i>keine Sammelbestellungen bisher</i></td></tr>
        {% endfor %}
    </table>
{% endblock %}
