{% extends "mediathek/base.html" %}

{% block site_heading %}Mediathek Verwaltung{% endblock %}

{% block beschreibung %}
    Hier findest du alle nötigen Funktionen um Ausleihen, Sammelbestellungen, Namensschildbestellungen etc. zu verwalten.
{% endblock %}

{% block content %}
    <h2>Kunden</h2>
<!--
    <a href="">Kunden/Aufträge verwalten</a>
-->
<i class="fa fa-wrench" aria-hidden="true">in Arbeit... </i>

    <h2>Ausleihe</h2>
<!--
    <a href="{% url 'mediathek:ausleihe' %}">aktuelle (Buch-)Ausleihe Übersicht</a>
    <form action="{% url 'mediathek:ausleihe' %}" method="post" accept-charset="utf-8">
        <input id="inv_id" type="number">
        <input type="submit" value="aktuellen Auftrag suchen">
    </form>
    <form>
    Ferienverlängerung
    </form>
    <a href="">Inventar verwalten</a>
-->
<i class="fa fa-wrench" aria-hidden="true">in Arbeit... </i>

    <h2>Sammelbestellungen</h2>
    <ul>
    {% for sb in aktuelle_sammelbest %}
        <li><a href="{% url 'mediathek:sammelbest_detail' sammelbest_id=sb.pk %}">{{ sb.bezeichnung }} ({{ sb.start|date:'d.m.Y H:i' }} bis {{ sb.ende|date:'Y-m-d H:i' }})</a></li>
    {% empty %}
        <i>keine Sammelbestellungen bisher</i>
    {% endfor %}
    </ul>
    <p><a href="{% url 'mediathek:sammelbest_list' %}">alle Sammelbestellungen</a></p>
    <p><a href="{% url 'mediathek:sammelbest_detail' sammelbest_id='0' %}">neue Sammelbestellung</a></p>
    <p><a href="{% url 'mediathek:waren_list' %}">Waren verwalten</a></p>
    <h2>Namensschilder</h2>
<i class="fa fa-wrench" aria-hidden="true">in Arbeit... </i>

    <h2>Finanzen</h2>
<!--
    Aktueller Pfand: <br>
    <a href="">Kassenbuch</a>
-->
<i class="fa fa-wrench" aria-hidden="true">in Arbeit... </i>

{% endblock %}
