{% extends "base.html" %}

{% with "Questionair" as title %}

    {% block head %}
        {{ block.super }}
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'QuestionAir/questionair.css' %}"/>
    {% endblock %}

    {% block logo_url %}{% static 'QuestionAir/logo_QA.gif' %}{% endblock %}
    {% block subtitle %}Portal für schriftliche Altfragen{% endblock %}

    {% block app_menu %}
        <li><a><i></i>...</a></li>
    {% endblock %}

    {% block site_heading %}QuestionAir{% endblock %}


    {% block site_content %}

        <section>
            {% block beschreibung %}{% endblock %}
        </section>

        {% block content %}

        {% endblock %}

    {% endblock %}

{% endwith %}