{% extends "QuestionAir/base.html" %}

{% block site_heading %}
    Kreuzmodus
{% endblock %}


{% block beschreibung %}
    Du kreuz momentan die Klausur {{ klausur }} aus dem Fach {{ fach }}
{% endblock %}

{% block site_content %}
    <div class="navigation">
        <button>Zürck</button>
        <button>Beantworten</button>
        <button>Beenden</button>
        <button>Weiter</button>
    </div>
    <section>
        <div class="question">
            Hier kann die Frage stehen
        </div>
        <div class="answer">
            Hier steht die Antwort A
        </div>
    </section>
    <div class="navigation">
        <button>Zürck</button>
        <button>Beantworten</button>
        <button>Beenden</button>
        <button>Weiter</button>
    </div>

    #TODO: wenn der Button Beantworten gedrück, dann hier Lösungsteil
{% endblock %}