{% load cms_tags menu_tags sekizai_tags static thumbnail %}

<!DOCTYPE html>
<html lang="{% block language %}de{% endblock %}">

    <head>
        {% block htmlhead %}
        {% endblock %}
            <meta http-equiv="content-type" content="text/html; charset=UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="author" content="Fachschaft Medizin Rostock">

            <meta name="description" content="{% block meta_description %}Der Interne Bereich der Fachschaft Medizin Rostock wird auf diesen Seiten dargestellt{% endblock %}">

            <title>{% block title %}Fachschaft Medizin Rostock{% endblock %}</title>

            <link rel="icon" href="{% block logo_bar %}{% static 'images/Signet.svg' %}{% endblock %}" type="image/png" >
	<link rel="stylesheet" href="{% static 'design/bootstrap3/css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'design/bootstrap3/css/bootstrap-fs.css' %}">
            <link rel="stylesheet" href="{% static 'design/CSS.css' %}" type="text/css" media="screen">
            <link rel="stylesheet" href="{% static 'design/print.css' %}" type="text/css" media="print">
			<link rel="stylesheet" href="{% static 'design/animate.css' %}"> <!--File für alle Animationen-->
			<link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
			<link rel="stylesheet" href="{% static 'design/hamburger.css' %}">

            {% render_block "css"%}
            {{ ALDRYN_SNAKE.render_head }}

            {% addtoblock "js" %}
                <script src="{% static 'hamburger.js' %}"></script>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
              <script src="{% static 'design/bootstrap3/js/bootstrap.min.js' %}"></script>
            {% endaddtoblock %}


        <!--IF toolbar is open push navbar down -> so i can se it-->
        {% if request.toolbar %}
        <style>
            .cms-toolbar-expanded nav {
            margin-top: +45px;
            }
        </style>
        {% endif %}

    </head>

    <body>

        {% cms_toolbar %}

        {% block header %}
            <div class="site-header">
            <header>
                <div class="kopf">
                    <a href="" class="noprint">
                        <img id="logo" src="{% block logo_url %}{% static 'images/Signet.svg' %}{% endblock %}"
                             alt="Logo">
                    </a>
                    <div id="name">
                        {% block apptitle %}Fachschaft Medizin Rostock{% endblock %}
                    </div><!--Name der Plattform-->
                    <div id="explain">{% block subtitle %}{% endblock %}</div>
                    <div id="menue_button">
                        <button class="hamburger hamburger--arrowalt" type="button" onclick = "HamburgerClick()">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </header>
            </div>
        {% endblock %}

        {% block nav %}
    <nav> <!--Menue-->
        <ul>
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'fachschaft:fsmedhro_user' %}"><i class="fa fa-user-md fa-fw" aria-hidden="true"></i>{{ user }}</a>
                    <ul>
                        <li><a href="{% url 'fachschaft:fsmedhro_user' %}"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>Dein Profil</a>
                        <li><a href="{% url 'fsmedhro_logout' %}"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>Abmelden</a></li>
                    </ul>
                </li>
            {% else %}
                <li><a href="{% url 'fsmedhro_login' %}"><i class="fa fa-sign-in fa-fw" aria-hidden="true"></i>Anmelden</a></li>
            {% endif %}
        {% block app_menu %}
            <li><a href="{% url 'fachschaft:fsmedhro_index'%}">Fachschaft Medizin Rostock</a>
            </li>
        {% endblock %}
            <li>
                {% include "apps_menu.html" %}
            </li>
        {% block language_chooser %}{% endblock %}
        </ul>
    </nav>

        {% endblock %}
        <main>
        {% block content_wraper %}

            {% comment %}
            {% if messages %}
                <div class="messages">
                {% for message in messages %}
                    <div class="message{% if message.tags %} {{ message.tags }}{% endif %} animated bounceInUp">
                        {{ message }}
                    </div>
                {% endfor %}
                </div>
            {% endif %}
            {% endcomment %}

            {% block site_heading_block %}
                <h1>{% block site_heading %}Fachschaft Medizin Rostock{% endblock %}</h1>
            {% endblock %}

            {% block site_content_block %}
                    {% block site_content %}
                    {% endblock %}
            {% endblock %}

        {% endblock %}
        </main>

        {% block footer %}
            <footer>
                {% include "footer.html" %}
            </footer>
        {% endblock %}

        {% render_block "js" %}
        {{ ALDRYN_SNAKE.render_tail }}
    </body>

</html>
