      <div class="footer_logos noprint">
        <ul>
          <li>
            <a href="https://www.facebook.com/fachschaft.medizinrostock/">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="https://www.med.uni-rostock.de/de/forschung-lehre/studium-und-lehre/">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-h-square fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="{% url 'exoral:moduswahl' %}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="{% url 'mediathek:index' %}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-book fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>          <li>
            <a href="https://rostock.kreuzmich.de/">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-times fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="https://fachschaft-medizin-rostock.de/diva">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
            {% if edit_page %}
          <li>
            <a href="{% if cururl %}{{ cururl }}{% endif %}/?edit">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
            {% endif %}
          <li>
            <a href="https://fachschaft.teamwork.com/">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-users fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="https://fachschaft-medizin-rostock.de/Cloud/index.php/login">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-cloud fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="http://www.fachschaft-medizin-rostock.de/pharos/">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-comment fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer_text">
        <p>
          <i class="fa fa-copyright" aria-hidden="true"></i>
            Fachschaft Medizin Rostock <br> Kreiert von der AG IT
            <br><a href="https://fachschaft.med.uni-rostock.de/impressum/">Impressum</a>
        </p>
      </div>