{% load cms_tags menu_tags sekizai_tags %}

<html lang="de">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% page_attribute "meta_descirption" %}">
    <meta name="author" content="Fachschaft Medizin Rostock">

    <title>Fachschaft Medizn Rostock</title>

    <link rel="stylesheet" href="/static/design/cms.css" />
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link href="/static/design/hamburger.css" rel="stylesheet" >
    {% render_block "css"%}
    {% comment %}
        {{ ALDRYN_SNAKE.render_head }}

    <!--IF toolbar is open push navbar down -> so i can se it-->
    {% if request.toolbar %}
      <style>
        .cms-toolbar-expanded .navbar-custom {
          margin-top: +45px;
        }
      </style>
    {% endif %}
    {% endcomment %}
</head>

<body>
    {% cms_toolbar %}
    <header>
        <img class="header_logo" src="/static/images/Signet_kontrast.png"></img>
        <a class="header_title" href="#">
          Fachschaft Medizin Rostock
        </a>
        <div class="hamburger hamburger--arrow">
          <div class="hamburger-box">
            <div class="hamburger-inner"></div>
          </div>
        </div>
    </header>
    <nav>
      <ul>
        {% show_menu 0 1 100 100 %}
        <li>
          <a href="#">
            Apps
          </a>
            <ul>
              <li>
                <a href="https://rostock.kreuzmich.de/">
                  Kreuzmich
                </a>
              </li>
              <li>
                <a href="https://fachschaft.med.uni-rostock.de/exoral/">
                  eXOral
                </a>
              </li>
            </ul>
        </li>
      </ul>
    </nav>
    <main>
    <h1>{% page_attribute "page_title" %}</h1>
        {% block content %}
             {% placeholder "content" %}
        {% endblock %}
    </main>
    {% render_block "js" %}
    {% comment %}
        {{ ALDRYN_SNAKE.render_tail }}
    {% endcomment %}
    <footer>
      <div class="footer_logos">
        <ul>
          <li>
            <a href="https://www.facebook.com/fachschaft.medizinrostock/">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="https://www.med.uni-rostock.de/de/forschung-lehre/studium-und-lehre/">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-h-square fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="https://fachschaft.med.uni-rostock.de/exoral">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="https://rostock.kreuzmich.de/">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-times fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="/diva">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="{% page_url request.current_page as current_url %}/?edit">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="https://fachschaft.teamwork.com/">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-users fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="https://fachschaft-medizin-rostock.de/Cloud/index.php/login">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-cloud fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="http://www.fachschaft-medizin-rostock.de/pharos/">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-comment fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer_text">
        <p>
          <i class="fa fa-copyright" aria-hidden="true"></i>
          Fachschaft Medizin Rostock
        </p>
    </footer>
    <script>
      // Look for .hamburger
      var hamburger = document.querySelector(".hamburger");
      // On click
      hamburger.addEventListener("click", function() {
        // Toggle class "is-active"
        hamburger.classList.toggle("is-active");
        scrollTo(0,0)

        var nav = document.querySelector("nav");
        // var nav = document.getElementsByTagName("nav")[0];
        nav.classList.toggle("nav_open");
        // Do something else, like open/close menu
      });
      //On Click for nav ul li

      //add class "submenu_open" to nav ul li ul

      //delete class "submenue_open from nav ul li ul if click on nav ul li"
    </script>
</body>
</html>
