{% extends "base.html" %}

{% block subtitle %}Willkommen{% endblock %}

{% block title %}Login{% endblock %}

{% block app_menu %}

{% endblock %}
{% block site_heading %}Login{% endblock %}

{% block site_content %}
    <section style="background-color: #272a44; color: #E0E0F8;">
        Willkommen auf der internen Seite der Fachschaft Medizin Rostock. <br> Du kannst dich hier problemlos
    mit dem Nutzerkennzeichen und dem Passwort des ITMZ anmelden. Solltest du kein Student der medizinischen Fakultät sein
        wird dein Loginversuch scheitern. <br>
    Wir wünschen dir viel Spaß bei deinem Studium
    </section>
    <form action="{% url "fsmedhro_login" %}" method="post" accept-charset="utf-8">{% csrf_token %}
        <input class="nkz form-control" type="text" placeholder="Nutzerkennzeichen" name="username">
        <input class="psw form-control" type="password" placeholder="Passwort" name="password">
        <input type="hidden" name="next" value="{{ next }}">
        <input class="btn_login" type="submit" value="Login">
    </form>
{% endblock %}