{% extends "base.html" %}

{% block title %}Login{% endblock %}


{% block site_heading %}Login{% endblock %}

{% block site_content %}
    <form action="{% url "fsmedhro_login" %}" method="post" accept-charset="utf-8">{% csrf_token %}
        <input type="text" placeholder="Nutzerkennzeichen" class="form-control" name="username">
        <input type="password" placeholder="Passwort" class="form-control" name="password">
        <input type="hidden" name="next" value="{{ next }}">
        <input class="btn btn-default" type="submit" value="Login">
    </form>
{% endblock %}