{% load static cms_tags sekizai_tags %}
<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    {% render_block "css" %}

    {% block stylesheets %}
    {% endblock %}

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <main role="main" class="container-fluid">
    {% cms_toolbar %}

    {% block content %}
    {% placeholder "content" %}
    {% endblock %}
    </main>

    <script src="{% static "js/jquery-3.4.1.min.js" %}"></script>
    <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>

    {% block javascript %}
    {% endblock %}

    {% render_block "js" %}
</html>
